html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-md;
  font-weight: 300;
  color: $grayishblue;
  line-height: 1.3;

  &.noscroll {
    overflow: hidden;
  }
  @include breakpoint-up(large) {
    font-size: $font-md;
  }
}
a,
a:visited {
  text-decoration: none;
  color: $grayishblue;
}
//text
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.15;
  color: $darkblue;
}
h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
//spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;
  &-pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &-py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &-px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &-pt {
    padding-top: 4.375rem;
    @include breakpoint-up(large) {
      padding-top: 6rem;
    }
  }
  &-pr {
    padding-right: 1.5rem;
  }
  &-pb {
    padding-bottom: 4.375rem;
    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }
  &-pl {
    padding-left: 1.5rem;
  }
}
//flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
//buttons
button,
.button {
  position: relative;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: $white;
  font-weight: 400;
  font-size: $font-sm;
  background-image: linear-gradient(to right, $limegreen, $brightcyan);
  display: inline-block;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(255, 255, 255, 0.25);
    transition: opacity 150ms ease-in-out;
  }
  &:hover::before {
    opacity: 1;
  }
}

//visibility
.hide-for-mobile {
  //hide for mobile and tablet
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  //hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}
